.custom-green{
    color:#058B15;

}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .animate-loading {
    animation: spin 1s linear infinite;
  }